{% extends 'includes/base.html' %}
{% load static %}
{% block content %}
<!-- End of Topbar -->

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">All Applications</h1>
    </div>

    <!-- Loan Name Filter Form -->
    {% comment %} <form method="get" action="{% url 'all-application' %}" class="mb-4">
        <div class="form-group">
            <label for="loan_name">Filter by Loan Name:</label>
            <input type="text" id="loan_name" name="loan_name" class="form-control" value="{{ loan_name_filter }}" placeholder="Enter loan name">
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form> {% endcomment %}


    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Applications</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="table-responsive-xxl">
                        <div style="overflow-x: auto; max-width: 100%">
                            <table class="table table-bordered table-hover all-users">
                                <thead>
                                    <tr>
                                        <th scope="col">Sr No</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">District</th>
                                        <th scope="col">Place</th>
                                        <th scope="col">Phone Number</th>
                                        <th scope="col">Loan Name</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">FollowUp Date</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Application Description</th>
                                        <th scope="col">Bank</th>
                                        <th scope="col">Executive Name</th>
                                        <th scope="col">Mobile No 1</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form in loan_applications %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ form.first_name }}</td>
                                        <td>{{ form.last_name }}</td>
                                        <td>{{ form.district }}</td>
                                        <td>{{ form.place }}</td>
                                        <td>{{ form.phone_no }}</td>
                                        <td>{{ form.loan_name }}</td>
                                        <td>{{ form.loan_amount }}</td>
                                        <td>{{ form.followup_date }}</td>
                                        <td>{{ form.description }}</td>
                                        <td>{{ form.status_name }}</td>
                                        <td>{{ form.application_description }}</td>
                                        <td>{{ form.bank_name }}</td>
                                        <td>{{ form.executive_name }}</td>
                                        <td>
                                            {{ form.mobileno_1 }}<br />
                                            {% if form.mobileno_2 %} {{ form.mobileno_2 }} {% endif %}
                                        </td>
                                        <td>
                                            <a href="{% url 'loan-page' form.form_id %}">Check this</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if not admin.is_superadmin %}
                            <!-- Pagination Controls -->
                            <div class="pagination" style="text-align: right">
                                <button class="prev btn btn-primary" onclick="changePage(-1)">
                                    &#10094; Prev
                                </button>
                                <span id="page-info"></span>
                                <button class="next btn btn-primary" onclick="changePage(1)">
                                    Next &#10095;
                                </button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
