{% extends 'includes/base.html' %}
{% load static %}
{% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Lead</h1>

                    </div>

                    <!-- Content Row -->
                    <div class="row">



                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-12 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Enter Details</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div><H6>PAY OUT <br>
                                    --------------------<br>
                                    PROPERTY LOAN      0.5%<br>
                                    USED CAR LOAN       1.25%<br>
                                    BUSINESS LOAN      1%</H6></div>
                                    <form class="p-5 user" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <div class="form-group row">
                                            <label for="name" class="col-sm-2 col-form-label">Name</label>
                                            <div class="col-sm-10">

                                                {{form.name}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="district" class="col-sm-2 col-form-label">District</label>
                                            <div class="col-sm-10">

                                                {{form.district}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="place" class="col-sm-2 col-form-label">Place</label>
                                            <div class="col-sm-10">

                                                {{form.place}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="mobile_no" class="col-sm-2 col-form-label">Mobile Number:</label>
                                            <div class="col-sm-10">

                                                {{form.mobile_no}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="loan_type" class="col-sm-2 col-form-label">Loan Type:</label>
                                            <div class="col-sm-10">

                                                {{form.loan_type}}
                                                {% if form.phone_no.errors %}
                                                    <div class="text-danger">
                                                        {{ form.phone_no.errors }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="details" class="col-sm-2 col-form-label">Property Details/Car Details:</label>
                                            <div class="col-sm-10">

                                                {{form.details}}

                                            </div>
                                        </div>



                                        <input type="submit" class="btn btn-primary btn-user btn-block d-block mx-auto" value="SUBMIT">
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>




                    <!-- Content Row -->



                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Loan Aid 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url  'login' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
<script>
    $(document).ready(function() {
        $('#assigned_to').select2({
            placeholder: "Select users",
            allowClear: true
        });
    });
</script>

{% endblock %}