{% extends 'includes/base.html' %}
{% load static %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    {% comment %} <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Create Staff Account</h1>
    </div> {% endcomment %}

    <!-- Content Row -->
    <div class="row">
        <!-- Form Container -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Create New Staff</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <form class="p-5 user" method="POST">
                        {% csrf_token %}
                        <div>
                            <p class="small text-danger">{{ form.non_field_errors }}</p>
                        </div>

                        <!-- First Name -->
                        <div class="form-group row">
                            <label for="id_first_name" class="col-sm-2 col-form-label">First Name</label>
                            <div class="col-sm-10">
                                {{ form.first_name }}
                                {% if form.first_name.errors %}
                                    <p class="text-danger small">{{ form.first_name.errors }}</p>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Last Name -->
                        <div class="form-group row">
                            <label for="id_last_name" class="col-sm-2 col-form-label">Last Name</label>
                            <div class="col-sm-10">
                                {{ form.last_name }}
                                {% if form.last_name.errors %}
                                    <p class="text-danger small">{{ form.last_name.errors }}</p>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="form-group row">
                            <label for="id_email" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <p class="text-danger small">{{ form.email.errors }}</p>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Phone Number -->
                        <div class="form-group row">
                            <label for="id_phone_no" class="col-sm-2 col-form-label">Phone Number</label>
                            <div class="col-sm-10">
                                {{ form.phone_no }}
                                {% if form.phone_no.errors %}
                                    <p class="text-danger small">{{ form.phone_no.errors }}</p>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="form-group row">
                            <label for="id_password" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                {{ form.password }}
                                {% if form.password.errors %}
                                    <p class="text-danger small">{{ form.password.errors }}</p>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Confirm Password -->
                        <div class="form-group row">
                            <label for="id_confirm_password" class="col-sm-2 col-form-label">Confirm Password</label>
                            <div class="col-sm-10">
                                {{ form.confirm_password }}
                                {% if form.confirm_password.errors %}
                                    <p class="text-danger small">{{ form.confirm_password.errors }}</p>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Active Status -->
                        <div class="form-group row">
                            <label for="id_is_active" class="col-sm-2 col-form-label">Active</label>
                            <div class="col-sm-10">
                                {{ form.is_active }}
                                {% if form.is_active.errors %}
                                    <p class="text-danger small">{{ form.is_active.errors }}</p>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <input type="submit" class="btn btn-primary btn-user btn-block d-block mx-auto" value="Create Staff">
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Loan Aid 2024</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{% url  'login' %}">Logout</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
