{% extends 'includes/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="mb-4">
        <div class="row mb-5">
            {% comment %} <div class="d-flex flex-column justify-content-center align-items-center icon-box">
                <i class="fas fa-user" style="color:#004647;"></i>
            </div> {% endcomment %}
            <div style="text-transform: uppercase;">
                Welcome {{ username }}!
            </div>
        </div>
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- All Loans Section -->
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">All Loans</h6>
                </div>
                <div class="card-body">
                    {% if all_loans %}
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Loan ID</th>
                                    <th>Applicant Name</th>
                                    <th>Phone Number</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for loan in all_loans %}
                                <tr>
                                    <td>{{ loan.id }}</td>
                                    <td>{{ loan.applicant_name }}</td>
                                    <td>{{ loan.phone_no }}</td>
                                    <td>{{ loan.status_name.status_name }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No loan applications available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- All Franchises Section -->
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">All Franchises</h6>
                </div>
                <div class="card-body">
                    {% if all_franchises %}
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Franchise ID</th>
                                    <th>Name</th>
                                    <th>Owner</th>
                                    <th>Phone Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for franchise in all_franchises %}
                                <tr>
                                    <td>{{ franchise.franchise_id }}</td>
                                    <td>{{ franchise.franchise_name }}</td>
                                    <td>{{ franchise.owner_name }}</td>
                                    <td>{{ franchise.mobile_no }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No franchises available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
