{% extends 'includes/base.html' %} {% load static %} {% block content %}

<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Application</h1>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-7">
      <div class="card shadow mb-4">
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 font-weight-bold text-primary">Applicant Details</h6>
        </div>
        <div class="card-body">
          <form class="p-5 user" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Franchise and Referral -->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Franchise</label>
              <div class="col-sm-10">
                {{ form.franchise }}
                <!-- This will render the franchise dropdown -->
              </div>
            </div>

            <!-- Personal Details -->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">First Name</label>
              <div class="col-sm-10">{{ form.first_name }}</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Last Name</label>
              <div class="col-sm-10">{{ form.last_name }}</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">District</label>
              <div class="col-sm-10">{{ form.district }}</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Place</label>
              <div class="col-sm-10">{{ form.place }}</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Phone Number</label>
              <div class="col-sm-10">{{ form.phone_no }}</div>
            </div>

            <!-- Job & CIBIL Details -->
            <h6 class="m-0 font-weight-bold text-primary mt-4">
              Job & CIBIL Details
            </h6>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Job</label>
              <div class="col-sm-10">{{ form.job }}</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">CIBIL Score</label>
              <div class="col-sm-10">{{ form.cibil_score }}</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">CIBIL Issue</label>
              <div class="col-sm-10">{{ form.cibil_issue }}</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">IT Payable</label>
              <div class="col-sm-10">{{ form.it_payable }}</div>
            </div>

            <!-- Loan Details -->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Loan Name</label>
              <div class="col-sm-10">{{ form.loan_name }}</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Loan Amount</label>
              <div class="col-sm-10">{{ form.loan_amount }}</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Follow-up Date</label>
              <div class="col-sm-10">{{ form.followup_date }}</div>
            </div>

            <!-- Guarantor Details -->
            <h6 class="m-0 font-weight-bold text-primary mt-4">
              Guarantor Details
            </h6>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Guarantor Name</label>
              <div class="col-sm-10">{{ form.guaranter_name }}</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label"
                >Guarantor Phone Number</label
              >
              <div class="col-sm-10">{{ form.guaranter_phoneno }}</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Guarantor Job</label>
              <div class="col-sm-10">{{ form.guaranter_job }}</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label"
                >Guarantor CIBIL Score</label
              >
              <div class="col-sm-10">{{ form.guaranter_cibil_score }}</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label"
                >Guarantor CIBIL Issue</label
              >
              <div class="col-sm-10">{{ form.guaranter_cibil_issue }}</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label"
                >Guarantor IT Payable</label
              >
              <div class="col-sm-10">{{ form.guaranter_it_payable }}</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Guarantor Years</label>
              <div class="col-sm-10">{{ form.guaranter_years }}</div>
            </div>

            <!-- Additional Information -->
            <h6 class="m-0 font-weight-bold text-primary mt-4">
              Additional Information
            </h6>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Description</label>
              <div class="col-sm-10">{{ form.description }}</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label"
                >Application Description</label
              >
              <div class="col-sm-10">{{ form.application_description }}</div>
            </div>

            <!-- Status and Work Status -->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Status</label>
              <div class="col-sm-10">
                {{ form.status_name}}
                <!-- This will render the franchise dropdown -->
              </div>
            </div>

            <!-- Bank and Executive Details -->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Bank Name</label>
              <div class="col-sm-10">
                {{ form.bank_name}}
                <!-- This will render the franchise dropdown -->
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Executive Name</label>
              <div class="col-sm-10">{{ form.executive_name }}</div>
            </div>

            <!-- Contact Information -->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Mobile Number 1</label>
              <div class="col-sm-10">{{ form.mobileno_1 }}</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Mobile Number 2</label>
              <div class="col-sm-10">{{ form.mobileno_2 }}</div>
            </div>

            <!-- Document Description -->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label"
                >Document Description</label
              >
              <div class="col-sm-10">{{ form.document_description }}</div>
            </div>

            <!-- File Upload -->
            <div class="form-group row">
                <label for="files" class="col-sm-2 col-form-label">Assignment Files</label>
                <div class="col-sm-10">

                    <input type="file" id="files" name="files" multiple>
                </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12">
                <input
                  type="submit"
                  class="btn btn-primary btn-user btn-block d-block mx-auto"
                  value="SUBMIT"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
