{% extends 'includes/base.html' %}
{% load static %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Application</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Profile Update</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <form class="p-5 user" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group row">
                            <label for="adhaar_no" class="col-sm-2 col-form-label">Aadhar No:</label>
                            <div class="col-sm-10">
                                {{ form.adhaar_no }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="adhaar_img" class="col-sm-2 col-form-label">Upload Aadhar Card:</label>
                            <div class="col-sm-10">
                                {% if user_profile.adhaar_img %}
                                    <div>
                                        <a href="{{ user_profile.adhaar_img.url }}">View Aadhar Card</a>
                                    </div>
                                {% endif %}
                                {{ form.adhaar_img }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="pan_no" class="col-sm-2 col-form-label">Pan No:</label>
                            <div class="col-sm-10">
                                {{ form.pan_no }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="pan_img" class="col-sm-2 col-form-label">Upload Pan Card:</label>
                            <div class="col-sm-10">
                                {% if user_profile.pan_img %}
                                    <div>
                                        <a href="{{ user_profile.pan_img.url }}">View Pan Card</a>
                                    </div>
                                {% endif %}
                                {{ form.pan_img }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="bank_name" class="col-sm-2 col-form-label">Bank Name:</label>
                            <div class="col-sm-10">
                                {{ form.bank_name }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="ifsc_code" class="col-sm-2 col-form-label">IFSC Code:</label>
                            <div class="col-sm-10">
                                {{ form.ifsc_code }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="account_no" class="col-sm-2 col-form-label">Account No:</label>
                            <div class="col-sm-10">
                                {{ form.account_no }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="branch" class="col-sm-2 col-form-label">Branch:</label>
                            <div class="col-sm-10">
                                {{ form.branch }}
                            </div>
                        </div>

                        <input type="submit" class="btn btn-primary btn-user btn-block d-block mx-auto" value="UPDATE">
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- Content Row -->
</div>
<!-- /.container-fluid -->
{% endblock %}
